:root {
  --purp-text: #9475af;
  --purp-btn: #7b86bc;
  --navy-blue: #12232e;
  --grey-text: #c4c4c4;
  --grey-background: #f9f9f9;
  --blue-text: #5596bf;
  --audiowide: "Audiowide", cursive;
  --opensans: "Open Sans", sans-serif;
  --pseudo-background: #12232e;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--opensans);
  font-weight: 550;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--audiowide);
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* border: solid red 1px; */
}

/* Hamburger */

.hamburger-btn {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  transition: opacity 250ms ease;
  background: transparent;
  outline: none;
  position: fixed;
  right: 9%;
  bottom: 2%;
  margin-bottom: 0.5em;
  z-index: 1000;
  background: transparent;
}

.hamburger-box span,
.hamburger-box span::before,
.hamburger-box span::after {
  background: var(--pseudo-background);
}

/* Header and Nav */

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header {
  display: flex;
  margin-bottom: 6em;
}

.logo {
  text-decoration: none;
}

.logo-text {
  font-family: var(--audiowide);
  font-size: 2rem;
  padding: 0.2em;
  margin: 0;
}

#logo {
  width: 110px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: flex-start;
}

.active {
  visibility: visible;
  transition: ease-in-out 0.3s;
  transform: translateX(-0%);
}

nav {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  transition: ease-in-out 0.3s;
  transform: translateX(100%);
  box-shadow: 0 18px 18px rgba(0, 0, 0, 0.24);
}

.nav-ul {
  align-self: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.nav-ul * {
  color: var(--navy-blue);
}

.nav-ul--primary {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.nav-ul--secondary {
  visibility: visible;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5% 5% 0 0;
  flex-direction: row;
  list-style-type: none;
}

.nav-ul--primary a {
  font-family: var(--audiowide);
  list-style-type: none;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.nav-ul--primary > li {
  margin-bottom: 2em;
}

.nav-ul--secondary li {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  justify-content: center;
}

.theme-btn {
  display: flex;
  font-size: 0.9rem;
  width: 0.9rem;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  justify-content: center;
}

.lang-btn {
  display: flex;
  font-size: 1rem;
  font-family: var(--audiowide);
  align-self: flex-end;
  background: transparent;
  border: none;
  outline: none;
}

nav a:hover,
nav a:focus {
  background: -webkit-linear-gradient(#5596bf, #9475af);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.3s ease-in;
  opacity: 0.8;
}

.focused {
  background: -webkit-linear-gradient(#4568dc, #b06ab3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.3s ease-in;
  opacity: 0.8;
}

/* Sections */

section {
  scroll-margin-top: 5em;
}

.sections + .sections {
  margin-top: 4em;
}

/* Intro section */

.sections-title {
  color: var(--blue-text);
  font-size: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hola,
.soy {
  /* margin-bottom: 2.5em; */
  font-size: 2rem;
  font-weight: 700;
}

.hola {
  font-family: var(--audiowide);
  color: #5596bf;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--navy-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  margin-bottom: 0.2em;
  font-family: var(--audiowide);
}

.soy {
  color: #9475af;
  margin: 0;
  font-family: var(--opensans);
}

.intro-social {
  display: flex;
  justify-content: center;
  color: var(--navy-blue);
  gap: 1.5em;
  margin: 0.5em 0;
}

.intro-icons + .intro-icons {
  margin-left: 1.5em;
}

.fab,
.far {
  font-size: 2rem;
}

.btn-port {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey-background);
  font-weight: 900;
  background-color: var(--blue-text);
  padding: 0.75em 2em;
  border-radius: 100px;
  text-align: center;
  margin: 2rem 0 1rem 50%;
  transform: translateX(-50%);
}

/* Projects Section */

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.card {
  margin: 0 auto;
  display: flex;
  flex: 1 0 300px;
  flex-direction: column;
  max-width: 340px;
  margin-top: 1em;
  overflow: hidden;
  background: var(--grey-background);
  border-radius: 20px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card + .card {
  margin-top: 2em;
}

figcaption {
  text-align: center;
}

.tech-use {
  display: flex;
  gap: 0.2em;
  justify-content: center;
}

.tech {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background: var(--purp-btn);
  color: var(--grey-background);
  padding: 0.25em 0.9em;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 0.2em;
  pointer-events: none;
}

.github-img-btn,
.live-preview {
  width: 0.8rem;
  margin-right: 0.3em;
  color: black;
  pointer-events: initial;
}

.card-img {
  overflow: hidden;
  display: block;
  border-radius: 10px 10px 0 0;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}

.card-buttons {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1em;
}

.card-btn {
  display: flex;
  padding: 0.35em 0.7em;
  border-radius: 100px;
  border: 2px solid var(--purp-text);
}

.card-buttons button {
  display: inline-block;
  margin: 0 0.3rem;
}

/* Skills */

.skills {
  display: flex;
  flex-wrap: wrap;
}

.lang-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

.language-icon {
  width: 90px;
}

/* About Section */

.about {
  font-family: var(--opensans);
  font-size: 1.5rem;
}

.about > p {
  color: var(--purp-text);
  font-weight: 800;
}

/* Contact */

.social-media-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3em 0;
}

.social-icon {
  width: 3em;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  border-radius: 5px;
  font-family: var(--opensans);
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.5em;
}

#name,
#email {
  height: 3em;
  border: none;
  border-bottom: solid 1px var(--purp-text);
  border-radius: 5px;
}

#message {
  border-radius: 5px;
  height: 10em;
  border: none;
  border-bottom: solid 1px var(--purp-text);
}

.form-btn {
  font-size: 1.1rem;
  margin-top: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey-background);
  font-weight: 900;
  background-color: var(--purp-text);
  padding: 0.75em 2em;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
}

.form-btn:hover {
  opacity: 0.9;
  transition: ease-in-out 0.2s;
}

#name:focus,
#email:focus,
#message:focus {
  outline: none;
  border: none;
  border-bottom: solid 5px var(--purp-text);
  transition: ease-in-out 0.2s;
}

/* Footer */

hr {
  margin: 3em 0;
  color: var(--navy-blue);
  background-color: var(--navy-blue);
  height: 0.1px;
  opacity: 0.4;
}

.footer-social-wrapper {
  display: flex;
  justify-content: center;
  color: var(--navy-blue);
  gap: 1em;
  margin: 0.5em 0;
}

.footer-icons * {
  font-size: 1.5rem;
}

.footer-icons + .footer-icons {
  margin-left: 1em;
}

footer {
  font-size: 1rem;
  font-family: var(--audiowide);
  color: var(--navy-blue);
  text-align: center;
  padding-bottom: 2em;
}

/* Dark theme styles */
.dt-background {
  background: var(--navy-blue);
}

.dt-text {
  color: var(--grey-text);
}

/* Media Queries */

@media (min-width: 675px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  /* Menu */
  .nav-ul--primary > li {
    margin-bottom: 6em;
  }

  .nav-ul--primary a {
    font-size: 3rem;
  }

  .theme-btn {
    font-size: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
  }

  .lang-btn {
    font-size: 1.6rem;
  }

  /* Intro Section */

  .hola,
  .soy {
    font-size: 3.3rem;
  }

  h1 {
    font-size: 4rem;
  }

  .btn-port {
    font-size: 1.3rem;
  }

  /* Portafolio Secion */
  .portafolio {
    margin: 0 auto;
  }

  .portafolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
    row-gap: 1.5em;
  }

  h3 {
    font-size: 2rem;
  }

  figcaption p {
    font-size: 1.3rem;
    width: 90%;
    margin: 0.9rem auto;
  }

  .tech {
    font-size: 1rem;
  }

  .card-buttons button {
    font-size: 0.9rem;
  }

  .sections-title {
    font-size: 3rem;
  }

  .language-icon {
    width: 150px;
    margin-bottom: 2em;
  }

  .card {
    margin: 0;
  }
  .card + .card {
    margin: 0;
    padding: 0;
  }

  /* About Section */

  .about-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .about-wrapper img {
    width: 60%;
    align-self: flex-start;
  }

  .about-wrapper p {
    width: 40%;
    text-align: justify;
  }

  .skills-img {
    display: none;
  }

  /* Contact Section */

  .social-media-icons {
    justify-content: space-evenly;
  }

  .contact-img {
    display: none;
  }

  .form {
    width: 80%;
    margin: 0 auto;
  }

  label {
    font-size: 1.8rem;
    /* Footer */
  }
}

@media (min-width: 1024px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  #toggle {
    display: none;
  }

  .logo-text {
    position: relative;
    top: 10%;
    left: 10%;
  }

  nav {
    position: unset;
    height: auto;
    width: 100%;
    transform: none;
    box-shadow: 0 0 0 0;
    justify-content: flex-end;
  }

  .nav-ul {
    text-align: center;
    height: 100%;
  }

  .nav-ul + .nav-ul {
    margin-left: 2em;
  }

  .nav-li + .nav-li {
    margin-left: 1em;
  }

  .nav-ul--primary > li {
    margin: 0;
  }

  .nav-ul--primary,
  .nav-ul--secondary {
    display: flex;
    visibility: visible;
  }

  .nav-ul--secondary {
    position: relative;
    margin: 0;
  }

  .nav-ul--primary a,
  .nav-ul--secondary a {
    font-size: 1rem;
    font-weight: 600;
  }

  .theme-btn {
    font-size: 1rem;
    width: 1rem;
  }

  .nav-ul--secondary .lang-btn {
    margin-left: 0.5em;
  }

  nav a {
    text-decoration: none;
    transition: 0.3s ease-in;
  }

  /* Intro Section */

  .intro-wrapper {
    margin: 0 auto;
    display: flex;
    margin-bottom: 2em;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .soy {
    font-size: 3rem;
  }

  .hola,
  h1 {
    font-size: 5rem;
  }

  .description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .pic-me {
    display: flex;
  }

  .pic-me > img {
    justify-content: flex-end;
  }

  /* Portafolio Section */
  .portafolio-wrapper {
    gap: 1em;
  }

  /* Skills Section */

  .skills {
    flex-direction: column;
  }
}
