:root {
  --purp-text: #9475af;
  --psuedo-purp-text: #9475af;
  --purp-btn: #7b86bc;
  --navy-blue: #12232e;
  --grey-text: #c4c4c4;
  --grey-background: #f9f9f9;
  --blue-text: #5596bf;
  --LeagueSpartan: 'League Spartan',
    sans-serif;
  --pseudo-background: #12232e;
  --transition: ease-in-out 0.3s;
  --modal-light: hsl(220, 50%, 90%);
  --modal-primary: hsl(255, 30%, 55%);
  --modal-focus: hsl(210, 90%, 50%);
  --modal-border-color: hsla(0, 0%, 100%, 0.2);
  --modal-global-background: hsl(220, 25%, 10%);
  --modal-background: linear-gradient(to right,
      hsl(203, 45%, 40%),
      hsl(272, 27%, 30%));
  --modal-shadow-1: hsla(236, 50%, 50%, 0.3);
  --modal-shadow-2: hsla(236, 50%, 50%, 0.4);
  --bG-linear-gradient: linear-gradient(to right,
      hsl(198, 17%, 89%),
      hsl(30, 14%, 90%));
  --text-linear-gradient: linear-gradient(hsl(226, 68%, 57%),
      hsl(298, 33%, 56%));
  --nav-linear-gradient: linear-gradient(to right,
      hsl(198, 17%, 89%),
      hsl(30, 14%, 90%));
  --p-size: clamp(1rem, 5vh, 5rem);
  --tech-size: clamp(0.8rem, 2vh, 5em);
  --h1-size: clamp(2rem, 6vh, 6rem);
  --card-header-size: clamp(1.5rem, 2.2vh, 3rem);
  --card-p-size: clamp(1em, 1.5vh, 3rem);
  --p-xl-size: clamp(1rem, 6vh, 6rem);
  --h1-xl-size: clamp(2rem, 8vh, 8rem);
  --mobile-nav: clamp(1.5rem, 2.5rem, 4rem);
  --desktop-nav: clamp(1rem, 1.5rem, 4rem);
}

body {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--LeagueSpartan);
  font-weight: 600;
  background: var(--bG-linear-gradient);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: var(--LeagueSpartan);
}

img {
  width: 100%;
  height: 100%;
}

/* latin-ext */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEqBuEW6A0lliaV_m88ja5TwvZ-LZmFDA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEqBuEW6A0lliaV_m88ja5TwvZwLZk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEqBuEW6A0lliaV_m88ja5TwvZ-LZmFDA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEqBuEW6A0lliaV_m88ja5TwvZwLZk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.intro-social a,
.footer-social a {
  text-decoration: none;
  color: var(--pseudo-background);
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Hamburger */

.hamburger-btn {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  -webkit-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  background: transparent;
  outline: none;
  position: fixed;
  right: 9%;
  bottom: 2%;
  margin-bottom: 0.5em;
  z-index: 1000;
  background: transparent;
}

.is-active.hamburger-inner,
.is-active.hamburger-inner::after {
  background-color: red;
}

#in-toggle::before,
#in-toggle::after,
.hamburger-box span,
.hamburger-box span::before,
.hamburger-box span::after {
  background: var(--pseudo-background);
}

/* Header and Nav */

.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 8vh;
  background: var(--bG-linear-gradient);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: transparent;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 15%;
  height: inherit;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.active {
  display: flex;
  visibility: visible;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-0%);
  -ms-transform: translateX(-0%);
  transform: translateX(-0%);
}

nav {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--nav-linear-gradient);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-box-shadow: 0 18px 18px rgba(0, 0, 0, 0.24);
  box-shadow: 0 18px 18px rgba(0, 0, 0, 0.24);
}

.nav-ul {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.nav-ul * {
  color: var(--navy-blue);
}

.nav-ul--primary {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.nav-ul--secondary {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5% 5% 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
}

.nav-ul--primary a {
  font-family: var(--LeagueSpartan);
  list-style-type: none;
  font-size: var(--mobile-nav);
  font-weight: 600;
  text-decoration: none;
}

.nav-ul--primary>li {
  margin-bottom: 4em;
}

.nav-ul--secondary li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.theme-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--mobile-nav);
  padding: 0;
  margin: 0 1em 0 0;
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

nav a:hover,
nav a:focus {
  background: -webkit-linear-gradient(#5596bf, #9475af);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  opacity: 0.8;
}

.focused {
  background: var(--text-linear-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  opacity: 0.8;
}

/* Side Social */

.side-social {
  display: none;
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--pseudo-background);
}

.side-social::after {
  content: "";
  display: block;
  width: 1px;
  height: 10vh;
  margin: 0px auto;
  background-color: var(--pseudo-background);
}

.side-social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.side-social-ul i {
  font-size: var(--h1-size);
  color: var(--pseudo-background);
  margin-block: 0.5em;
}

/* Sections */

.sections {
  scroll-margin-top: 5em;
}

section {
  scroll-margin-top: 3em;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1rem;
}

.sections+.sections {
  margin-top: 3em;
}

.sections-title {
  color: var(--blue-text);
  font-size: var(--h1-size);
  margin-bottom: 1rem;
}

/* Intro section */

.intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro-icon {
  width: 60%;
  margin-inline: auto;
}

.david-emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5em;
  width: 100%;
  height: auto;
  background: center/cover url(../blue-triangle.svg) no-repeat;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.david-emoji>img {
  max-width: 100%;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.hola,
.soy {
  font-size: var(--p-size);
  font-weight: 700;
}

.hola {
  font-family: var(--LeagueSpartan);
  color: var(--blue-text);
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: var(--h1-size);
  color: var(--navy-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  margin-bottom: 0.2em;
  font-family: var(--LeagueSpartan);
}

.soy {
  color: #9475af;
  margin: 0;
  font-family: var(--LeagueSpartan);
  font-weight: 600;
}

.intro-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1em;
  margin: 0.5em 0;
}

.intro-social i {
  color: var(--pseudo-background);
}

.intro-icons+.intro-icons {
  margin-left: 1.5em;
}

.intro-icons:hover,
.footer-icons:hover {
  opacity: 0.7;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.fab,
.far {
  font-size: 2rem;
  cursor: pointer;
}

.btn-port {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--pseudo-background);
  font-size: clamp(0.5rem, 1.5vh, 2rem);
  font-weight: 900;
  background-color: var(--blue-text);
  padding: 0.75em 2em;
  border-radius: 100px;
  text-align: center;
  margin: 2rem 0 1rem 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 20vh;
}

/* Arrow */
.arrow-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.arrow,
.arrow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  color: var(--pseudo-background);
}


.arrow {
  font-size: 4vh;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
  animation-name: arrow;
}

.arrow2 {
  font-size: 5vh;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
  animation-name: arrow;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0.7m);
    transform: translateY(0.7m);
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0.7m);
    transform: translateY(0.7m);
  }
}

/* Projects Section */

.portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-inline: auto;
}

.new-card {
  position: relative;
  /* description and img depend on this being relative */
  overflow: hidden;
  /* project animation depends on this */
  border-radius: 25px;
  width: 320px;
  min-height: 17em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: -webkit-gradient(linear, right top, left bottom, from(var(--purp-btn)), to(var(--blue-text)));
  background: -o-linear-gradient(right top, var(--purp-btn), var(--blue-text));
  background: linear-gradient(to left bottom, var(--purp-btn), var(--blue-text));
  color: white;
  -o-object-fit: cover;
  object-fit: cover;
  text-shadow: 2px 2px 8px black;
  -webkit-box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.new-card:hover {
  -webkit-box-shadow: 0 19px 67px -18px hsl(225deg 2% 62% / 80%);
  box-shadow: 0 19px 67px -18px hsl(225deg 2% 62% / 80%);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.new-card:not(.new-card:nth-of-type(1)):hover {
  margin-top: 3em;
}

.new-card.effect * {
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  opacity: 0;
}

figcaption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.figcap-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 90%;
  margin-inline: auto;
}

figcaption a {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  font-size: 0;
  opacity: 0;
}

figcaption p {
  text-align: center;
  font-size: var(--card-p-size);
}

figcaption header {
  font-size: var(--card-header-size);
  text-align: center;
}

.new-card h3 {
  margin-bottom: 0.3em;
}

.new-card.effect p {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.new-card.effect img {
  opacity: 1;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 20% 0%;
  object-position: 20% 0%;
}

.new-card.effect:hover img {
  opacity: 0.2;

}

.new-card.effect:hover * {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.tech-use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
}

.tech-btn {
  margin-top: auto;
}

.tech {
  border: none;
  outline: none;
  font-size: var(--tech-size);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background: var(--modal-primary);
  color: var(--grey-background);
  padding: 0.25em 0.5em;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.2em;
  pointer-events: none;
}

.github-img-btn,
.live-preview {
  width: 0.8rem;
  margin-right: 0.3em;
  color: black;
  pointer-events: initial;
}

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: auto;
  padding: 1em;
}

.card-btn {
  display: inline-block;
  position: relative;
  font-size: clamp(0.5rem, 1.8vh, 3vh);
  padding: 0.35em 0.7em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: var(--LeagueSpartan);
  color: var(--navy-blue);
}

.card-btn:hover {
  color: white;

}

.card-btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-background);
  border-radius: 10px;
  z-index: -2;

}

.card-btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--purp-text);
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  border-radius: 10px;
  z-index: -1;
}

.card-btn:hover:before {
  width: 100%;

}

.fa-solid,
.fa-brands {
  margin-right: 0.2em;
}

.card-buttons button {
  display: inline-block;
  margin: 0 0.3rem;
}

/* Skills */

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lang-wrapper {
  color: var(--navy-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.language-wrapper {
  width: auto;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.language-wrapper:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.language-icon {
  font-size: 4em;
}

.lang-title {
  text-align: center;
  font-size: var(--card-p-size);
}

.fa-html5:hover,
.fa-css3-alt:hover,
.fa-js-square:hover,
.fa-sass:hover,
.fa-react:hover,
.fa-bootstrap:hover,
.fa-node-js:hover,
.cib-next-js:hover {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.fa-html5:hover {
  color: #e34e26;
}

.fa-css3-alt:hover {
  color: #0277bd;
}

.fa-js-square:hover {
  color: #d4b830;
}

.fa-sass:hover {
  color: #cd6799;
}

.fa-react:hover {
  color: #53c1de;
}

.fa-bootstrap:hover {
  color: #563d7c;
}

.cib-next-js:hover {
  color: #474747;
}

.fa-node-js:hover {
  color: #74B15B;
}

/* About Section */

.about {
  font-family: var(--LeagueSpartan);
  font-size: var(--p-size);
  font-weight: 600;
}

.about>p {
  color: var(--purp-text);
  font-weight: 800;
}

.about-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.about-wrapper img {
  align-items: center;
  margin-inline: auto;
  width: 70%;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* Contact */

.contact {
  width: 90%;
}

.send-email * {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 800;
}

.send-email a {
  color: inherit;
}

.send-email P {
  margin: 1rem 0;
}

.alt {
  font-size: 1rem;
}

.social-icon {
  width: 3em;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.3em;
}

label {
  border-radius: 5px;
  font-family: var(--opensans);
  font-size: 1.2rem;
  font-weight: 600;
}

#name,
#email,
#message {
  height: 3em;
  border: none;
  border-bottom: solid 1px var(--purp-text);
  border-radius: 5px;
  width: 100%;
}

#message {
  border-radius: 5px;
  height: auto;
  border: none;
  border-bottom: solid 1px var(--purp-text);
}

.form-btn {
  font-size: 1.1rem;
  margin-top: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey-background);
  font-weight: 900;
  background-color: var(--purp-text);
  padding: 0.75em 2em;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
  margin-top: 0.2rem;
  cursor: pointer;
  max-width: 50%;
  margin-inline: auto;
}

.form-btn:hover {
  opacity: 0.9;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

#name:focus,
#email:focus,
#message:focus {
  outline: none;
  border: none;
  border-bottom: solid 5px var(--psuedo-purp-text);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* Footer */

hr {
  margin: 3em 0;
  color: var(--navy-blue);
  background-color: var(--navy-blue);
  height: 0.1px;
  opacity: 0.4;
}

.footer-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--navy-blue);
  gap: 1em;
  margin: 0.5em 0;
}

.footer-icons * {
  font-size: clamp(1.3em, 3vh, 6em);
}

.footer-icons+.footer-icons {
  margin-left: 1em;
}

footer {
  font-size: 1rem;
  font-family: var(--LeagueSpartan);
  color: var(--navy-blue);
  text-align: center;
  padding-bottom: 2em;
}

/* Dark theme styles */
.dt-background {
  background: var(--navy-blue);
}

.dt-text {
  color: white;
}

.none {
  display: none;
}

/* Form Validation */

.form-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-inline: auto;
}

/* Form Modal */

.box {
  background-color: hsla(231, 78%, 65%, 0.2);
  display: none;
  z-index: 1000;
  position: fixed;
  right: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
}

.modal-container {
  position: fixed;
  z-index: 10;
  display: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 80vw;
  height: auto;
  text-align: center;
}

.active-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.modal {
  padding: 2rem;
  border-radius: 25px;
  color: var(--moda-light);
  background: var(--bG-linear-gradient);
  -webkit-box-shadow: var(0.1rem 0.4rem 1rem 0.2rem) var(--modal-shadow-1);
  box-shadow: var(0.1rem 0.4rem 1rem 0.2rem) var(--modal-shadow-1);
  position: relative;
  overflow: hidden;
  border: 2px solid gray;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.modal-title {
  font-size: clamp(1.5rem, 4vh, 3rem);
  text-align: center;
}

.modal-text {
  font-size: clamp(1.2rem, 3vh, 2rem);
  margin-top: 2rem;
  text-align: center;
}

.modal-btn {
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border: 1px solid var(--pseudo-background);
  border-radius: 100rem;

  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;

  -webkit-transition: 0.2s;

  -o-transition: 0.2s;

  transition: 0.2s;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--focus);
  border-color: var(--focus);
  -webkit-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem);
}

.modal-img {
  width: 20%;
  height: 20%;
  background-color: transparent;
}

/* **************************************************************************************************** */

/* Media Queries */

/* **************************************************************************************************** */


@media (min-width: 675px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header-container {
    left: unset;
  }

  .logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 10%;
    margin-left: unset;
  }

  #logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
  }

  /* Menu */
  .nav-ul--primary>li {
    margin-bottom: 3em;
  }

  /* Side Social */

  .side-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 3vw;
  }

  /* Section */

  section {
    scroll-margin-top: 2em;
    min-height: 100vh;
    width: 80%;
    margin-inline: auto;
  }

  /* Intro Section */

  .intro-icon {
    width: 50%;
  }

  .intro-social {
    display: none;
  }

  .description {
    text-align: left;
  }

  .hola,
  .soy {
    font-size: var(--p-xl-size);
  }

  .david {
    font-size: var(--h1-xl-size);
  }

  .btn-port {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    font-size: clamp(1rem, 2vh, 4rem);
  }

  .arrow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* Portafolio Secion */
  .portafolio {
    margin: 0 auto;
    scroll-margin-top: 3em;
  }

  .new-card {
    width: 350px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .tech {
    font-size: 0.8rem;
  }

  .card-buttons button {
    font-size: 0.9rem;
  }

  .sections-title {
    font-size: 3rem;
    text-align: left;
  }

  .contact-title {
    margin-bottom: 0;
  }


  /* Skills */

  .language-icon {
    font-size: 9em;
  }

  .lang-wrapper {
    gap: 2.5em;
  }

  .lang-title {
    text-align: center;
    font-size: var(--p-size);
  }

  /* About Section */

  .about-wrapper p {
    width: 70%;
    text-align: justify;
  }

  .skills-img {
    display: none;
  }

  /* Contact Section */

  .send-email {
    margin: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .social-media-icons {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .contact-img {
    display: none;
  }

  .form {
    margin: 0 auto;
  }

  .form-btn {
    margin-inline: auto;
  }

  label {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  /* Header */

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    width: 100%;
  }

  .logo {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 15vh;
    max-width: 5%;
  }

  #toggle {
    display: none;
  }

  /* Navigation Menu */

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 5%;
  }

  .nav-ul {
    height: 100%;
  }

  .nav-ul+.nav-ul {
    margin-left: 1.5em;
  }

  .nav-li+.nav-li {
    margin-left: 2em;
  }

  .nav-ul--primary {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-ul--primary>li {
    margin: 0;
  }

  .nav-ul--primary,
  .nav-ul--secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }

  .nav-ul--primary a,
  .nav-ul--secondary a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--desktop-nav);
    font-weight: 600;
  }

  .theme-btn {
    font-size: var(--desktop-nav);
  }

  .nav-ul--secondary {
    margin: 0;
    position: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  /* Side Social */

  .side-social {
    left: 5vw;
  }

  /* Section */
  section {
    min-height: 100vh;
  }

  /* Intro Section */

  .intro-icon {
    width: 50%;
  }

  .intro-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .description {
    text-align: left;
  }

  h1 {
    margin-bottom: 0;
  }

  .intro-social {
    margin: 0.1em 0;
  }

  .intro-wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .soy {
    text-align: left;
    font-size: var(--p-xl-size);
  }

  .hola,
  h1 {
    text-align: left;
    font-size: var(--h1-xl-size);
  }

  .description {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* Portafolio Section */
  .portfolio-wrapper {
    gap: 2.5em;
  }


  /* Skills Section */

  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .language-icon {
    font-size: 10.2em;
  }

  /* Contact */

  .form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 5% 50%;
    grid-template-columns: repeat(2, 50%);
    -ms-grid-rows: 1fr normal 1fr;
    grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 5%;
    -moz-column-gap: 5%;
    column-gap: 5%;
    row-gap: normal;
    width: 80%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .form>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .form>*:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .form>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .send-email {
    margin-left: 1rem;
  }

  .form-btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 60%;
    -ms-grid-column-align: center;
    justify-self: center;
    margin-top: 1rem;
  }

  .name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding-inline: 1rem;
  }

  .email {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding-inline: 1rem;
  }

  #name,
  #email {
    width: 100%;
    padding-inline: 1rem;
  }

  .message {
    padding-inline: 1rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    height: auto;
    width: 100%;
  }

  .form-loader {
    position: relative;
    width: 100%;
    left: 100%;
  }

  .form-loader img {
    width: 10%;
    height: 100%;
  }
}

@media (min-width: 1250px) {

  /* Project */

  .new-card:not(.new-card:nth-of-type(1)):hover,
  .new-card:not(.new-card:nth-of-type(2)):hover {
    margin-top: unset;
  }

  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 100%;
  }

  .about-wrapper img {
    width: 50%;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .about-wrapper p {
    width: 40%;
    text-align: justify;
  }

  .lang-wrapper {
    width: 80%;
    gap: 4em;
  }

  /* Contact */
  .form {
    width: 70%;
  }
}

@media (min-width: 2000px) {

  .new-card {
    width: 30vw;
    height: 20vw;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  figcaption header {
    font-size: var(--h1-size);
  }

  figcaption p {
    font-size: var(--p-size);
  }

  /* Skills */

  .lang-wrapper {
    gap: 6em;
  }

  /* Contact */
  .form {
    width: 60%;
  }
}